.list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
}

.listItem {
  border: 1px solid #cacaca;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listItem:last-child {
  margin-bottom: 0;
}

.content {
  flex: 2;
  margin: 0 20px 10px 0;
}

.name {
  margin: 0;
}

.url {
  font-style: italic;
  color: grey;
}

.url:hover {
  color: #52cdf3;
}

.status {
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 12px;
}

.statusGreen {
  background-color: green;
}

.statusFail {
  background-color: red;
}

.statusUnknown {
  background-color: grey;
}

.editLink {
  text-decoration: none;
  margin-right: 10px;
  composes: button from "../../components/Button/styles.module.css";
  composes: primary from "../../components/Button/styles.module.css";
}

.lastUpdate {
  text-align: center;
  margin-bottom: 10px;
  display: block;
}
