.button {
  padding: 10px;
  border: 1px solid #eeeeee;
  background-color: #f7f7f7;
  color: rgb(46, 46, 46);
  font-weight: bold;
  border-radius: 3px;
}

.button:hover:not(.disabled) {
  cursor: pointer;
  background-color: #52cdf3;
}

.primary {
  border: 1px solid #f5d93b;
  background-color: #fee140;
}

.primary:hover:not(.disabled) {
  cursor: pointer;
  background-color: #f5d93e;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
